{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <h1>Articles</h1>
    <h2>Article 1</h2>
    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, recusandae velit quidem rerum quae, quasi,
        dolorum qui vitae at quos odit accusamus aperiam officia veniam ipsam voluptatum inventore. Animi tenetur non
        inventore blanditiis vel pariatur quia eligendi vero aliquid, ex placeat dolores, ad saepe eos! A atque
        dignissimos ratione dolore ab. Earum minima dolor corporis excepturi, sit tempore dolore odio eligendi dicta non
        autem obcaecati quia aspernatur voluptatibus reiciendis ad nisi quae molestiae est omnis totam! Assumenda
        dolorum distinctio modi magnam in quam voluptate, optio quas perspiciatis id culpa dignissimos voluptatibus
        autem eius aliquid architecto libero ducimus, expedita corrupti, fugiat cum. Error voluptas consequuntur,
        possimus unde ipsa veniam necessitatibus delectus libero sint, quia facere maxime, praesentium impedit saepe
        vero suscipit repudiandae. Aliquam tempore necessitatibus quam repudiandae animi ratione explicabo repellendus.
        Voluptatibus vel delectus consequatur iusto nihil ab eligendi in, molestiae provident illum, sunt impedit alias
        inventore est sapiente! Eos, tenetur error. In explicabo veritatis mollitia, dicta aliquam rem vero architecto
        odio necessitatibus harum, aliquid alias atque quisquam perferendis, voluptatem delectus. Consequatur incidunt
        dolor alias, corrupti iste necessitatibus sapiente minus mollitia. Inventore nihil et, facilis non sunt dolor
        alias dolorem quo. Dicta quasi unde eaque consectetur similique illo velit est minus!</article>
    <h2>Article 2</h2>
    <article>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit magni dolorem doloremque. Accusantium
        soluta illum vitae error blanditiis pariatur nesciunt doloribus distinctio, laudantium libero nobis! Quasi
        asperiores esse, magni suscipit enim voluptatibus reiciendis! Provident modi natus esse optio earum ipsam
        accusamus quasi voluptates at ut recusandae vel vitae id cupiditate, unde blanditiis nostrum deleniti, veniam
        reprehenderit dicta ratione. Architecto voluptatibus consequatur dicta, beatae, ipsa adipisci autem molestiae
        ratione dolorem alias exercitationem! Cum, voluptatibus explicabo temporibus culpa perferendis id necessitatibus
        reiciendis amet ut nemo corporis obcaecati labore, earum veritatis incidunt suscipit pariatur eos vel debitis
        architecto adipisci mollitia rem laudantium. Laboriosam eius non labore, qui doloremque adipisci nisi molestias
        aspernatur aut minima impedit quibusdam? Quia, voluptatem totam distinctio soluta commodi, in aliquam dolore
        ipsam, harum optio officiis molestiae amet sapiente! Illo, laboriosam soluta! Voluptas delectus facilis
        aspernatur sequi sed aliquid quia soluta rerum explicabo excepturi voluptatum error quaerat commodi perspiciatis
        velit voluptatibus officia beatae saepe esse nulla nihil, a nobis. Dicta quia voluptates iste reprehenderit
        nihil accusantium nulla incidunt quasi expedita, illo sunt inventore vitae ea numquam, ipsam veritatis veniam
        qui tempore eos vero unde? Sapiente delectus animi exercitationem pariatur amet voluptatem est corrupti, nostrum
        repellat? Aspernatur consequatur itaque debitis eaque, laboriosam illo praesentium et possimus rem, harum iure
        architecto suscipit maiores provident doloribus voluptatibus explicabo autem, odio corrupti. Totam, aliquid hic?
        Possimus a tempore minus, quas autem consequatur deleniti adipisci temporibus natus doloribus eaque nostrum
        soluta dolor quidem, voluptatem quaerat illo, eius cupiditate quod fuga quasi harum non. Recusandae culpa
        laboriosam itaque, ullam, fugit quia eveniet, incidunt praesentium quam ipsum nostrum? Doloribus aliquid,
        laborum itaque beatae maxime harum voluptatum fuga in excepturi enim temporibus, velit hic possimus obcaecati
        expedita corporis quae delectus quibusdam? Voluptas atque, similique a, praesentium nisi delectus est nobis
        repudiandae sed magni recusandae illo officia optio perspiciatis.</article>
    <h2>Article 3</h2>
    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla doloremque aperiam amet fugit sed
        ipsum ut maiores omnis, laborum deleniti non rem magni aspernatur expedita harum quae voluptatibus.
        Inventore nulla excepturi consectetur unde molestiae nesciunt libero ipsam in cupiditate culpa
        voluptatem laudantium, fuga nisi distinctio, quam, soluta vel minus corporis totam id maiores placeat
        dolorem! Accusantium, voluptatibus. Architecto itaque reprehenderit, fugit sapiente, tempore mollitia
        accusantium ipsam ipsum voluptatum maxime deserunt cumque excepturi voluptas harum nemo facere
        consequatur, quaerat aperiam accusamus officiis veritatis! Ex voluptatibus error voluptatem, veniam vero
        maiores, commodi cum quo ipsa cumque suscipit eveniet? Qui repellat eius quam corporis dolores, rerum
        possimus doloribus enim error temporibus expedita eum molestias a sequi ipsa. Corrupti, consectetur
        voluptatem! Natus enim, est commodi in totam tenetur minus libero dignissimos explicabo magnam dolorem
        adipisci sunt officiis maxime ex optio illum dolore harum pariatur quis iusto atque eum? Id dolorum
        aliquid commodi asperiores laudantium cumque sunt fugiat eaque dolorem. In sit, sequi ducimus neque
        maiores hic, est fuga nobis dolores dignissimos facere. Vel repellat nobis temporibus eum id inventore
        ullam perspiciatis totam et voluptates laudantium alias maxime possimus maiores dolorum, omnis in
        laboriosam deleniti sapiente a eligendi beatae. Eveniet porro, impedit aliquam labore possimus provident
        officia cum cumque maxime fuga animi tenetur vel perferendis quos voluptate similique atque voluptatum
        commodi repudiandae ducimus iure quae. Ipsum, magni? Tenetur eligendi natus quas perspiciatis aspernatur
        dignissimos maiores animi eveniet quidem sunt, tempore doloribus iste ea obcaecati incidunt pariatur
        quae, corporis ipsam accusamus. Ullam autem ex doloribus aspernatur, nobis excepturi veritatis
        repudiandae id cumque quae dolorem adipisci laudantium a dignissimos nemo illo dicta amet rerum totam
        numquam odit laborum necessitatibus qui? Tempore a reiciendis facere error impedit dicta repellendus,
        optio iste officiis et, magnam sequi! Maiores neque necessitatibus eum perferendis iure officiis ipsa,
        facilis officia debitis, similique unde.</article>

    <button id="buttonScroll">
        <img src="/svg/scrollUp.svg" alt="scroll">
    </button>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}